@{
    ViewBag.Title = "Настройки";
}

<div class="center_content">
    @Html.ActionLink("Настройки страницы", "Page", "Settings", null, new { @class = "my_button" })
    @Html.ActionLink("Настройки аккаунта", "Account", "Settings", null, new { @class = "my_button" })
    @Html.ActionLink("Настройки приватности", "Private", "Settings", null, new { @class = "my_button" })
</div>