@{
    ViewBag.Title = "Настройки страницы";
}

<form method="POST" class="form_two_columns">
    <table>
        <tr>
            <td class="td_value_text">
                Личный статус:
            </td>
            <td>
                @{
                    ViewContext.Writer.Write("<input type=\"text\" name=\"status\" maxlength=\"64\" size=\"32\" value=\"");
                    string text = Request.Unvalidated.Form.Get("status");
                    if (text == null)
                    {
                        text = ViewBag.status;
                    }
                    ViewContext.Writer.Write(text);
                    ViewContext.Writer.Write("\"/>");
                }
            </td>
        </tr>
        <tr>
            <td class="td_value_text">
                Дополнительная информация:
            </td>
            <td>
                @{
                    ViewContext.Writer.Write("<input type=\"text\" name=\"info\" maxlength=\"64\" size=\"32\" value=\"");
                    text = Request.Unvalidated.Form.Get("info");
                    if (text == null)
                    {
                        text = ViewBag.info;
                    }
                    ViewContext.Writer.Write(text);
                    ViewContext.Writer.Write("\"/>");
                }
            </td>
        </tr>
        <tr>
            <td class="td_value_text">
                Ссылка на аватар:
            </td>
            <td>
                @{
                    ViewContext.Writer.Write("<input type=\"text\" name=\"avatar_file_url\" maxlength=\"512\" size=\"32\" value=\"");
                    text = Request.Unvalidated.Form.Get("avatar_file_url");
                    if (text == null)
                    {
                        text = ViewBag.avatar_file_url;
                    }
                    ViewContext.Writer.Write(text);
                    ViewContext.Writer.Write("\"/>");
                }
            </td>
        </tr>
        @if ((ViewBag.Errors != null) && (ViewBag.Errors.Count != 0))
        {
            <tr>
                <td colspan="2" class="td_errors">
                    @foreach (string error in ViewBag.Errors)
                    {
                        @error<br />
                    }
                </td>
            </tr>
        }
        <tr>
            <td class="td_button_one_column">
                <a href="/Settings"><input type="button" value="Назад" /></a>
            </td>
            <td class="td_button_one_column">
                <input type="submit" name="ok" value="Сохранить настройки аккаунта" />
            </td>
        </tr>
    </table>
</form>