@{
    SocialNetwork.Models.users viewing_user = ViewBag.ViewingUser;
    SocialNetwork.Models.users user = ViewBag.User;

    ViewBag.Title = "Изменение записи на странице пользователя " + viewing_user.name;
}

<form method="POST" class="form_two_columns">
    <table>
        <tr>
            <td class="td_value_text">
                Текст записи:
            </td>
            <td>
                <textarea type="text" name="text" maxlength="512" size="32">@ViewBag.text</textarea>
            </td>
        </tr>
        @if ((ViewBag.Errors != null) && (ViewBag.Errors.Count != 0))
        {
            <tr>
                <td colspan="2" class="td_errors">
                    @foreach (string error in ViewBag.Errors)
                    {
                        @error<br />
                    }
                </td>
            </tr>
        }
        <tr>
            <td class="td_button_one_column">
                <a href="/Users/Viewing?id=@viewing_user.id"><input type="button" value="Назад" /></a>
            </td>
            <td class="td_button_one_column">
                <input type="submit" name="ok" value="Изменить" />
            </td>
        </tr>
    </table>
</form>